@import "tailwindcss";

/* Reset Default Vite/React Styles that break layouts */
:root {
  color-scheme: light !important; /* Force light mode for consistency */
}

body {
  margin: 0;
  padding: 0;
  display: block !important; /* Overwrite Vite's flex-center */
  place-items: unset !important; /* Overwrite Vite's place-items */
  min-height: 100vh;
  background-color: #f8fafc;
  color: #1e293b;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  
  /* Proteksi Anti-Copy */
  user-select: none;
  -webkit-user-select: none;
}

/* Allow interaction with inputs */
input, textarea {
  user-select: text !important;
  -webkit-user-select: text !important;
}

/* Ensure root element takes full height */
#root {
  width: 100%;
  height: 100%;
}